<?xml version="1.0" ?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="unit-test">
            <directory>test/src</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
